[data-theme='dark'] ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

[data-theme='dark'] ::-webkit-scrollbar-track {
  background: transparent;
}

[data-theme='dark'] ::-webkit-scrollbar-thumb {
  background: #373a40;
  border-radius: 4px;
}

[data-theme='dark'] ::-webkit-scrollbar-thumb:hover {
  background: #495057;
}

[data-theme='light'] ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

[data-theme='light'] ::-webkit-scrollbar-track {
  background: transparent;
}

[data-theme='light'] ::-webkit-scrollbar-thumb {
  background: #e9ecef;
  border-radius: 4px;
}

[data-theme='light'] ::-webkit-scrollbar-thumb:hover {
  background: #dee2e6;
}
